<aside class="main-sidebar">
  <section class="sidebar">
    <div class="user-panel">
      <div class="pull-left image">
        <%= image_tag "https://almsaeedstudio.com/themes/AdminLTE/dist/img/user2-160x160.jpg", class: "img-circle",
          alt: "User Image" %>
      </div>
      <div class="pull-left info">
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>
    <ul class="sidebar-menu">
      <li class="<%= active_class admin_root_path %>">
        <%= link_to admin_root_path do %>
          <i class="fa fa-home"></i> <span><%= t ".home" %></span>
        <% end %>
      </li>
    </ul>
</aside>
